// En tu archivo home.scss (o donde apliques los estilos)

button {
    @include button-style(firebrick, white);  // Llamada al mixin con parámetros
}

// en home.scss o donde corresponda
button {
    @extend .btn;
    background-color: firebrick;
    color: white;

    &:hover {
        background-color: darkred;
    }
}


body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    display: flex;
    flex-direction: column;
    background-color: $background-color;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    height: auto;
}

main {
    background-color: $main-background;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
}

footer {
    background-color: $background-color;
    padding: 20px 0;
    text-align: center;

    a img {
        margin: 10px;
        width: 30px;
        height: auto;
        transition: transform 0.3s ease;

        &:hover {
            transform: scale(1.1);
        }
    }

    p {
        margin-top: 10px;
        font-size: 1rem;
    }
}
// En home.scss o tienda.scss

// En tienda.scss

.image-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
}

.image-container li {
    flex: 1 0 250px; // Ajusta según lo que necesites
    list-style: none;
    text-align: center;
}

.image-container img {
    width: 70%;
    height: 250px; // Ajusta la altura como desees
    object-fit: cover;
    border-radius: 10px;
}


